<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<html lang="en">

<head>
  <title>GOTH Todo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </nav>
  <form hx-post="/add-task" hx-target="#tasks-list" hx-swap="beforeend">
    <input type="text" name="title" placeholder="Task title" />
    <input type="text" name="description" placeholder="Task description" />
    <button type="submit">Add task</button>
  </form>
  <ol id="tasks-list">
    {{ range .Tasks}}
    <li>
      <p>Id: {{.Id}}. Title: {{.Title}}</p>
      <span>Description: {{.Description}}</span>
      <form>
        <input type="checkbox" name="complete" hx-post="/api/tasks/complete" hx-include="" />
        <input type="button" value="Remove" hx-post="/api/tasks/remove" />
        <input type="button" value="Edit" hx-post="/api/tasks/edit" />
      </form>
    </li>
    {{ end }}
  </ol>
</body>

</html>
