<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<html lang="en">

<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <main>
    <form hx-post="/api/login">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="username" required />
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password" required />
      <button type="submit">Login</button>
    </form>
  </main>
</body>

</html>
